* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: aliceblue;
    min-height: 1500px;
}

/* Navbar */
.navbar {
    background-color: rgba(105, 105, 105, 0.45);
    font-size: 0.5em;
    padding: 0.3rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.navbar h1 span {
    color: #00ffca;
}

/* Hero */
.header {
    height: 100vh;
    width: 100vw;
    padding-top: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .bg-right {
    background-image: url(computer.jpg);
    width: 50%;
    height: 100%;
    margin-right: 0;
    background-size: cover;
    background-position: center;
}
.header .bg-right .transparant {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0));
    width: 70%;
    height: 100%;
}
.header .judul,
.dataSet h1 {
    margin: 15% 2rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}
.header .judul span,
.dataSet h1 span {
    font-size: 1rem;
    letter-spacing: 0.3em;
    word-spacing: 0.5em;
    color: #00ffca;
}
.header .judul .batas,
.dataSet h1 .batas {
    width: 10rem;
    border-bottom: 5px solid rgb(0, 255, 202);
    position: absolute;
    margin-top: 2rem;
}

/* Data Set */
.dataSet {
    margin: 2.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dataSet table tr,
.dataSet table tr td {
    border: 3px solid;
    border-image: linear-gradient(145deg, rgba(0, 255, 204, 0.153), rgb(0, 255, 204));
    border-image-slice: 1;
}
.dataSet table tr th {
    border: 3px solid white;
}
.dataSet table tr th,
.dataSet table tr td {
    padding: 0.5rem;
    text-align: center;
}

/* Program */
.program {
    background-image: url(popularLinux.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding-top: 3rem;
}

.program button {
    background: white;
    font-family: inherit;
    padding: 0.3em 1em;
    display: block;
    margin: 0 auto;
    font-weight: 900;
    font-size: 18px;
    border: 5px solid;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.1em 0.1em #00ffca;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.deskripsi {
    margin-top: 3rem;
    text-align: center;
}

.program table {
    margin: 2em auto;
}
.program table,
.program table tr,
.program table tr th,
.program table tr td {
    border: 3px solid rgba(255, 0, 0, 0.61);
    border-collapse: collapse;
    text-align: center;
}

.program table tr th,
.program table tr td {
    padding: 1.4em;
}

.finishing {
    position: relative;
    margin-top: 2em;
}

#hasil {
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
    color: aliceblue;
    margin-top: 2rem;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.spinner {
    background-image: linear-gradient(rgb(255, 66, 66) 35%, rgb(0, 225, 255));
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(255, 66, 66), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
}

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
}
